{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div style="padding-left:511px">
        <h1> EMPLOYEE DATABASE</h1>
        
      </div>
      <div class="container">

        <table>
            <tr>
              <th>Employee Code</th>
              <th>Employee name</th>
              <th>Department</th>
              <th>Age</th>
              <th>Experience</th>
              <th></th>
              <th></th>
            </tr>
            {% for all in Emp_details %}
            <tr>
                <td>{{all.EmpCode}}</td>
                <td>{{all.EmpName}}</td>
                <td>{{all.Dept}}</td>
                <td>{{all.Age}}</td>
                <td>{{all.Experience}}</td>
                <td><a href="/edit/{{all.EmpCode}}" class="w3-bar-item w3-button"><i class="fa fa-edit" style="font-size:24px"></i></a></td>
                <td><a href="/remove/{{all.EmpCode}}" class="w3-bar-item w3-button"> <i class="fa fa-trash" style="font-size:24px"></i></a></td>
              </tr>
              {% endfor %}
        </table>
  
</div>

{% endblock %}