{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block extracss %}
        {% endblock %}
</head>
<body>

    <div class="topnav">
      
        <a  href="">EMPLOYEE PORTAL</a>
        {% if user.is_authenticated %}
       <a class="active"  href="/upload-profile">PROFILE ENTRY</a>
          <a   href="/get-all-profiles">EMPLOYEE PROFILES</a>
        <div class="topnav-right">
          {% endif %}
            <a href="#about">{% if user.is_authenticated %}
                <p> {{ user.username }} </p> 
                <a  href="/logout_view">
                    
                    <i class="fa fa-power-off icon"></i> Logout
                </a>      
            {% endif %}</a>
        
        </div>
      </div>
      <br><br><br>
      {% block content %}
      {% endblock %}

    </body>
    </html>